<mat-toolbar color="primary" class="navbar">
    <div>My app</div>
    <div>
        <a mat-flat-button href="./index" color="primary" target="_self">ALL</a>
        <a mat-flat-button href="./add" color="primary" target="_self">ADD POST</a>
    </div>
</mat-toolbar>
<div class="mainContent">
    <img class="img" src="../../assets/pics/panda.jfif" alt="" height="288" width="388">
    <h1>This is my first Angular Project!</h1>
    <h2>Click here to see all posts!</h2>
    <div class="button">
        <a mat-flat-button href="./index" color="primary" target="_self">Here!</a>
    </div>
</div>